<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Tasks</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Task Name:</label>
        <input type="text" name="title" id="title" value="{{ post.title }}" required>
        <br>
        <label for="desc">Task Description:</label>
        <textarea name="desc" id="desc" required>{{ post.desc }}</textarea>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <br>
    <a href="/todo/list/">Go Back to List</a>
</body>
</html>